<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="%LAUNCHER_PATH%"
            arguments="%LAUNCHER_ARGS%"
            stdoutLogEnabled="true"
            stdoutLogFile="\\?\%home%\LogFiles\stdout" />
    </system.webServer>
</configuration>
<!--ProjectGuid: 0DD73E76-C5B2-4201-B3E3-760EA8C147BF-->